<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <h2>Employee Information</h2>
    <form action="/savedetails" method="post">
        <table>
            <tr>
                <td>Name</td>
                <input type="text" name="name">
            </tr>
            <tr>
                <td>Email</td>
                <input type="email" name="email">
            </tr>
            <tr>
                <td>Address</td>
                <input type="text" name="address">
            </tr>
            <button>Submit</button>
        </table>
    </form>
</body>
</html>